<h1>Editing live stream</h1>

<%= render "form", live_stream: @live_stream %>

<br>

<div>
  <%= link_to "Show this live stream", @live_stream %> |
  <%= link_to "Back to live streams", live_streams_path %>
</div>
